<!DOCTYPE html>
<html>
<head>
    <style>
        h1{
            background-color: red;
        }
        </style>
    </head>
<body>
    <h1>Home Index</h1>
    <h3>P129</h3>
    <ul>
        <li>Musa</li>
        <li>Musa</li>
        <li>Musa</li>
        <li>Musa</li>
        <li>Musa</li>
    </ul>
</body>
</html>